@(products: List[Product])
@main("products catalogue") {  
	<h2>All products</h2>
	
	<script>
  function del(urlToDelete) {
    $.ajax ( {
      url : urlToDelete,
      type : 'DELETE',
      success : function ( results ) {
        // Refresh the page
        location.reload ( ) ;
      }
    } ) ;
  }
  </script>
  
   <table class="table table-striped">
    <thead>
      <tr>
        <th>EAN</th>
        <th>Name</th>
        <th>Description</th>
		<th></th>
      </tr>
    </thead>
    <tbody>
    @for(Product <- products) {
      <tr>
        <td><a href="@routes.products.details(Product.ean)">@Product.ean</a></td>
        <td><a href="@routes.products.details(Product.ean)">@Product.name</a></td>
        <td><a href="@routes.products.details(Product.ean)">@Product.description</a></td>
		<td><a onclick="del('@routes.products.delete(Product.ean)')">Delete</a></td>
      </tr>
     }
    </tbody>
   </table>
   <a href="@routes.products.newProduct()" class="btn btn-primary">New product</a>
}